<!doctype html>
<html lang="ar" dir="rtl" class="dark">
<%- include('head.ejs') -%>

<body class="flex min-h-screen flex-col bg-white dark:bg-gray-900">
  <%- include('nav.ejs') -%>
  <div class="mt-40 flex flex-col items-center justify-center px-4">
    <div id="content" class="text-md line-clamp-6 mt-20 text-center md:w-full md:text-xl lg:w-1/2 lg:text-3xl dark:text-white"><%=locals.content%></div>
    <div id="results-container" class="mt-14 hidden w-3/4 max-w-lg space-y-4 rounded-lg border border-dashed border-purple-300 bg-gray-100 p-6 text-center md:w-full lg:w-full dark:border-gray-700 dark:bg-gray-800">
      <p id="result-correct" class="text-lg font-semibold text-gray-900 md:text-xl lg:text-xl dark:text-gray-200"></p>
      <p id="result-wpm" class="text-lg font-semibold text-gray-900 md:text-xl lg:text-xl dark:text-gray-200"></p>
      <div id="signup" class="mt-4"></div>
    </div>
  </div>
  <div class="text-red-500 dark:text-red-400 text-gray-600 dark:text-gray-400  dark:text-purple-400 text-purple-600 hover:text-purple-500 dark:hover:text-purple-300  text-emerald-600 dark:text-emerald-400 "></div>
  <script>
    window.user = '<%= locals.user %>';
    window.textId = '<%= locals.textID %>';
  </script>
  <script src="/play.js"></script>
  </script>
</body>

</html>